#first-nav {
  background-color: #333;
  color: #add8e6;
}

.navbar-custom {
  background-color: #333;
}

.navbar-custom .nav-link {
  color: #add8e6;
}

.navbar-custom .nav-link:hover {
  color: #ffffff;
}

.header-box {
  position: absolute;
  top: 0;
  left: 100px;
  background-color: #00bfff;
  width: 150px;
  height: 150px;
  z-index: 1;
}

#sec-nav {
  padding-left: 300px;
}

.footer-bar {
  background-color: #00bfff;
  height: 70px;
  width: 100%;
  position: absolute;
  bottom: 0;
}
